.search-class {
  background: white;
  padding: 20px;
  border-radius: 3px;
}

.table-class {
  margin-top: 20px;
  padding: 20px;
  background: white;
  border-radius: 3px;
}

.page-button-class {
  text-align: left;
}
